@import url(global.css);

body{
    /* background-color: rgb(255, 9, 9); */
    background-color: rgba(255, 255, 255, 0.8);
}

/* ----------------HEADER---------------- */
header{
    /* border-bottom: .5px solid rgba(255, 255, 255, 0.298); */
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.777);
    position: absolute;
    width: 100%;

}

header #container-header{
    display: flex;
    align-items: center;
    padding-block: 16px;
    justify-content: space-between;}

header #logo{
    font: var(--h2);
    font-weight: 800;
    /* border: 1px solid red; */
} 

header ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

/* ----------------ASIDE MENU------------ */

#aside-menu{
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.431);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
}

#aside-menu ul{
    /* border: 4px solid rgb(25, 56, 123); */
    display: flex;
    flex-direction: column;
}


#aside-menu ul li a, #aside-menu ul li:first-child{
    /* border: 1px solid rgb(78, 128, 237); */
    padding: 24px;
    display: flex;
    width: 100vw;
    color: rgba(255, 255, 255, 0.654);
    border-bottom: solid .5px rgba(255, 255, 255, 0.221);
    cursor: pointer;
    transition: background .2s;
    font: var(--h2);
    color: var(--color-font-secondary);

}

#aside-menu ul li a:hover{
    /* border: 1px solid rgb(78, 128, 237); */
    background-color: rgba(255, 255, 255, 0.193);
    color: rgba(255, 255, 255, 0.654);
    font-weight: 500;
}





/* ------------------MAIN------------------ */
main{
    /* border: 5px solid rgb(4, 255, 0); */
    height: 100%;
}

main #img-abt-us{
    /* border: 5px solid red; */
    width: 100%;
    height: 45em;
    background-image: url(images/bg-about-us.png
    );
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    
}

main #about-us p:nth-child(1){
    text-align: center;
}
main #about-us span{
    font-size: .7em;
    color: rgba(128, 128, 128, 0.595);    
}

main #about-us h1{
    font-family: "brittany", sans-serif;
    font-size: 3em;
    margin: 14px 0px;
    text-align: center;
}

main #about-us{
    color: rgba(0, 0, 0, 0.777);
    /* text-align: justify; */
}

main #about-us p{
    font-size: .92em;
    font-weight: 500;
    margin-bottom: 14px;
    line-height: 1.7em;

}

main #about-us p:nth-child(3){
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
}

main #about-us p:nth-child(7){
    text-align: center;}

    /* ----------MAIN IMAGES---------- */

main #main-images{
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


main #main-images img{
    width: 100%;

}

/* --------------------eat in-------------- */

#container-eat-in{
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    height: 25em;
    margin-top: 16px;
}

#container-eat-in #eat-in{
    /* border: 2px solid green; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid black; */
    width: 100%;

    h2{
        text-align: center;
    }

    a{
        border: .7px solid rgba(128, 128, 128, 0.595);
        padding: 16px;
        cursor: pointer;
        font-size: .7em;
        margin-top: 10px;
        text-transform: uppercase;
    }

    a:hover{
        background-color: black;
        color: white;
    }
}

#eat-in p:nth-child(1){
    font-size: .7em;
    color: rgba(128, 128, 128, 0.435); 
}

#eat-in-img{
    /* border: 5px solid rgb(119, 255, 0); */
    height: 100%;
    width: 100%;
    background-image: url(images/about-eat-in.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ----------------take away------------- */

#container-take-away{
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 25em;
    margin-top: 16px;
}

#container-take-away #take-away{
    /* border: 2px solid green; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid black; */
    width: 100%;

    h2{
        text-align: center;
    }

    a{
        border: .7px solid rgba(128, 128, 128, 0.595);
        padding: 16px;
        cursor: pointer;
        font-size: .7em;
        margin-top: 10px;
        text-transform: uppercase;
    }

    a:hover{
        background-color: black;
        color: white;
    }
}

#take-away p:nth-child(1){
    font-size: .7em;
    color: rgba(128, 128, 128, 0.435); 
}

#take-away p:nth-child(3){
    font-size: .8em;
    text-align: center;
    line-height: 1.3em;
}

#take-away-img{
    /* border: 5px solid rgb(119, 255, 0); */
    height: 100%;
    width: 100%;
    background-image: url(images/about-take-away.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------FOOTER--------- */
#bottom-logo-about{
    font-family: "brittany", sans-serif;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
    padding: 12px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
}

#bottom-logo-about span{
    font: var(--paragraph);

}

#social-media-about{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

#social-media-about img{
    width: 2em;
    height: 2em;
    margin: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    opacity: .5;    
}

#social-media-about img:hover{
    opacity: 2 ;    
}

#footer-nav ul{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 8px;
    font-size: .8em;
}

#footer-nav ul a{
    cursor: pointer;

}
#footer-nav ul a:hover{
    border-bottom: 1px solid black;
}

#copyright{
    /* border: 2px solid red; */
    font-size: .7em;
    color: rgba(0, 0, 0, 0.524); 
    text-align: center;
    padding: 8px;
    margin-top: 12px;
}