@import url(global.css);


/* Dica final: tudo que repetir entre páginas diferentes deve ir para o global.css. */
/* ------MOBILE FIRST----- */

header{
    border-bottom: .5px solid rgba(255, 255, 255, 0.298);
    color: white;

}

header #container-header{
    display: flex;
    align-items: center;
    padding-block: 16px;
    justify-content: space-between;
    position: relative;
}

header #logo{
    font: var(--h1);
    /* border: 1px solid red; */
} 

header ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

/* -------------------------SideMenu-----------------------*/

#aside-menu{
    /* border: 1px solid red; */
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-transparency);
    backdrop-filter: blur(20px);
    display: none;
}

#aside-menu ul{
    display: block;
    font: var(--h2);
    color: var(--color-font-secondary);
}


#aside-menu ul a, #aside-menu ul li:nth-child(1){
    /* border: 1px solid red; */
    display: flex;
    padding: 24px;
    width: 100vw;
    border-bottom: .5px solid rgba(255, 255, 255, 0.298);
    transition: background .2s;
    cursor: pointer;
}

#aside-menu ul a:hover{
    background-color: rgba(255, 255 , 255, 0.298);
    color: rgba(255, 255, 255, 0.893);

}

/* -----------------MAIN--------------- */

main #img-bg{
    /* border: 1px solid red; */
    background-image: url(images/index-bg.jpg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    
}


#container-main-mobile{
    width: 80%;
    position: absolute;
    top: 43%;/* Posiciona o topo do elemento no meio vertical do pai */
    left: 50%; /* Posiciona a esquerda do elemento no meio horizontal do pai */
    transform: translateX(-50%); 
    /* Move o elemento para a esquerda 50% da sua própria largura Isso centraliza no eixo horizontal */
}

.main-mobile1 h1{
    font-family: "brittany", sans-serif;
    color: var(--color-font-secondary);
    text-align: center;
    padding: 12px;
    font-size: 2.5em;
    margin-bottom: 12px;
}

main ul{
    display: flex;
    justify-content: space-around;
    /* border: .5px solid var(--color-font-secondary); */


}
main ul a{
    color: var(--color-font-secondary);
    padding: 8px;
    display: flex;
    font-weight: 400;
}

/* ---------------FOOTER---------------- */

footer{
    color: rgba(255, 255, 255, 0.557);
    
}

#copyright{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    font-size: 0.8em;
    position: absolute;
    bottom: 0; /* Coloca o elemento encostado na parte inferior do elemento pai que tem position: relative; (ou da viewport se for fixed). */
    left: 50%;/* Isso significa: o lado esquerdo do elemento está alinhado no meio do pai. Problema: o elemento vai ficar deslocado, porque só o canto esquerdo está no centro, não o elemento inteiro. */
    transform: translateX(-50%);
    /*  Move o elemento para a esquerda 50% da própria largura. Assim, o centro do elemento fica exatamente no centro do pai. */
    /* border: 1px solid red; */
    width: 100%;
}

/* -------------MEDIA QUERIES--------------*/

@media screen and (min-width: 992px) {
    header #logo{
        font-size: 2em;
    }

    header #container-header{
        max-width: 95%;
        justify-content: space-between;
        margin: auto;
    }

    header #main-menu ul{
        display: flex;
        gap: 38px;
    }
    
    header li:last-child{
        display: none;
    }

    header #main-menu li a{
        display: block;
        font-size: 1.2em;
        font-weight: 200;
        transition: font-weight 0.3s ease;
    }

     header #main-menu li a:hover{
        font-weight: 500;
     }

     #container-main-mobile h1{
        font-size: 3.5em;
        margin-bottom: 24px;
     }

     #container-main-mobile ul{
        max-width: 700px;
        margin: auto;
     }

     #container-main-mobile li a{
        font-size: 1.1em;
        transition: font-weight 0.3s ease;

     }

     #container-main-mobile li a:hover{
        font-weight: 600;
     }

}

